registry=https://pkgs.dev.azure.com/naveendeism/Angular7Pipeline/_packaging/angular/npm/registry/

always-auth=true

//pkgs.dev.azure.com/naveendeism/Angular7Pipeline/_packaging/angular/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiI1ZjRjMzdhMi0zMzcyLTYzYWItODhlZC05NTgzNjM5ZDNmMDQiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiOWJmZTUzYTUtMmFhNy00OGQ4LWIxMjgtNjM5Nzg3YjcxZGZlIiwic2lkIjoiMDQ5NGE5ZmItMjhjZC00NjJkLWI2ZWUtMWQwMTIzYzhmZDIzIiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOmI2OGMyOGY0LTkzMzAtNGU5My05NjhhLWI0YmU4MzdjNjUyNCIsIm5iZiI6MTU4NjIwODI1MSwiZXhwIjoxNTg2Mjk1MjUxfQ.ogeHRxQnndzP6qI0kc2vIiSfrTKpcMr51RfjBQrcFtqPeBx3TW_lwMkUA238WpCJn0nmal_hO2w4U3sh0CsKCEXvMLMD0jNbZpH2PB3WMdz96Nn_eBZh1CBUfwDe8dF9DHDK8i8mz3X3V4P_GrmtVB4loIwsXhMnl6H3PcYatuLtzFNr3utjRWqHKDVtAWCW06fBKBEYtr377g9ZHmnuGyUYu8K_czd156XM2iYGkd0TIPy6qx5xug6kvtabRRUlgrRvchxtkALSEYN-eB--ptYmlVCFyRUI6hDluO1rAoW6GbNqVsh-H2LQ9uwvt3Ee8tjWIv4JWiSNN5A4Ivu4fg